# Node
node_modules/
.npm/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
playwright/.cache/
.ms-playwright/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env
.env
.env.*

# Misc
.tmp/
.tmp*
